<header>
  <nav>
    <a href="#appCompanent">Anasayfa</a>
    <a href="#filmListCompanent">Film listesi</a>
    <a href="#filmDetayCompanent">Film detay</a>
  </nav>
</header>
  <section id="anaCompanent">
    <section id="appCompanent">
      <h1>app companent</h1>
    </section>
    <section id="filmListCompanent">
      <app-film-listesi></app-film-listesi>
    </section>
    <section id="filmDetayCompanent">
      <app-film-detay></app-film-detay>
    </section>
  </section>
  <footer></footer>



